#title, #team, #projectLink{
    width:400px; 
    height:40px; 
    border-radius: 10px; 
    border: 2px solid #54B977;
}

#description{
    width:400px; 
    height:100px; 
    border-radius: 10px; 
    border: 2px solid #54B977;
}

input::placeholder{
    color: #54B977;
    font-family: WefontGothic(OTF);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.selectBox {
    position: relative;
    width: 150px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid #54B977;
}

.selectBox .select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3;
}

.selectBox .select option {
    background: #54B977;
    color: #fff;
    padding: 3px 0;
    font-size: 16px;
}

.selectBox .icoArrow {
    position: absolute; 
    top: 0; 
    right: 0; 
    z-index: 1; 
    width: 35px; 
    height: inherit;
    border-left: 2px solid #54B977;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.selectBox .icoArrow img {
    width: 50%;
    transition: .3s; 
}
  
.selectBox .select:focus + .icoArrow img {
    transform: rotate(180deg);
}

.button{
    padding-top: 50px;
    padding-left: 0px;
    text-align: center;
}

#submitButton, #cancleButton{
    color: #54B977;
    font-family: WefontGothic(OTF);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    outline: 0;
    background-color: #fff;
}