*{
    /*font-family: 'Noto Sans KR', sans-serif;*/
    list-style: none; /*목록에 점을 없애는 기능*/
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    /*color: #000;*/
}
h2{
    color: #000;
    font-family: Noto Sans KR;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3{
    color: #fff;
    text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
    /*-webkit-text-stroke: 0.01px #000;*/
    font-family: Noto Sans KR;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
}

h5{
    color: #000;
    font-family: Noto Sans KR;
    font-size: 16.616px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.header{
    position: fixed;
    top: 0; left: 0;
    z-index: 100; /*가장 상단에 위치함을 나타냄*/
    /*header 사라지지 않게 하기 위한 용도*/
    display: flex; /*logo와 네비게이션 바 함께 두기 위한 용도*/

    width: 100%;
    height: 53px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);

}
.logo{
    display: flex;

    margin-left: 100px; /*logo 왼쪽에 두기위한 용도*/
    background-color: #fff;
}

.nav{
    display: flex;
    justify-content: flex-end;
    margin-left:auto;
    margin-right:53px;
    line-height: 53px;
    background-color: #fff;
}
.nav > li{
    margin-left: 53px;
}
.nav > li > a{
    color: #54B977;
    text-shadow: -0.3px 0px #000, 0px 0.3px #000, 0.3px 0px #000, 0px -0.3px #000;
    text-align: center;
    font-family: Akzidenz-Grotesk BQ;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#login_icon{
    padding-top: 8px;
}

/* first */
.first{
    position: relative;

}

/* second */

.date{
    color:#fff;
    font-family: Noto Sans KR;
    font-size :12px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    border-radius: 20px;
    background-color: #54B977;
    gap: 6.667px;
    align-items: center;
    justify-content: center;
    padding: 5.333px 12px;
    width: 39px;
    height: 17px;
    margin-right:20.39px;
    margin-left: 106px;
    margin-top: 74px;

}

.title{
    margin-left: 106px;
    padding-top: 20px;
    margin-right: auto;
    max-width: 800px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: Noto Sans KR;
    font-size: 28px;
    font-style:normal;
    font-weight: bold;
    line-height: normal;
}

hr.solid{
    margin-top: 58px;
    margin-left: 106px;
    margin-left: 106px;
    border-top: 1.5px solid #D9D9D9;;
}


.third{
    margin-top:67px;
}
.first_line{
    display: flex;
}
.summary{
    margin-left:106px;
    width: 400px;
    height: 287px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.10);
    border-radius: 16px;
}
.summary > h2{
    width: 130px;
    height: 25px;
    color:#54B977;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin-left:45px;
    margin-top:38px;
    margin-bottom: 32px;
}
.contain{
    display: flex;
    margin-left:20px
}
.kind{
    margin-bottom: 42px;
    width: 95px;
    height:22px;
    color:#000;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;

}
.contain >p{
    margin-left: 40px;
    margin-bottom: 42px;
    max-width:180px;
    height: 22px;
    color:#000;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
}
.explain{
    width: 800px;
    height: 287px;
    margin-left: 26px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.10);
}
.explain > h2{
    width: 300px;
    height: 23px;
    color: #54B977;
    font-family: Noto Sans KR;
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
    margin-top: 36px;
    margin-left:37px;
}

.explain > p{
    margin-top: 64px;
    margin-left:37px;
    width: 709px;
    height: 155px;
    color: #000;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

}
.second_line{
    width: 387px;
    height: 418px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    border-radius: 20px;
}
.second_line > h2{
    width: 130px;
    height: 25px;
    color:#54B977;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin-left:45px;
    margin-top:19px;
    padding-top:38px;
    margin-bottom: 32px;
}
.second_line >p{
    margin-left: 31px;
    margin-bottom: 42px;
    max-width:180px;
    height: 22px;
    color:#000;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
}

/*footer*/
.footer{
    width: 100%;
    height: 330px;
    padding-left: 110px;
    background-color: #54b977;
    margin-top:50px;
}

.footer_text{
    color: #f9d96c;
    font-family: Noto Sans KR;
    font-size: 26.585px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-shadow: -0.3px 0px #000, 0px 0.3px #000, 0.3px 0px #000, 0px -0.3px #000;
    padding-top: 58px;
}

.footer_subtext{
    color: #000;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;

    padding-top: 18px;
}

.text_deco{
    color: #fff;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;

}

.footer_icons{
    display: flex;
    padding-top: 65px;
}

.footer_icons > li{
    margin-right: 33px;
}